<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sweetaste</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/products']">Products</a>
            </li>
            <li class="nav-item">
                <div style="padding-top: 8px;">
                    <a [routerLink]="['/shopping-cart']">
                        <fa-icon [icon]="faShoppingCart" [styles]="{'color': 'white'}"></fa-icon>
                        <span class="badge rounded-pill bg-info text-dark">{{ shoppingCartItemCount }}</span>
                    </a>
                </div>
            </li>
        </ul>

        <div class="col text-right">
            <ng-template #anonymousUser>
                <li class="nav-item">
                    <button class="btn btn-outline-light" [routerLink]="['/login']">Login</button>
                </li>
            </ng-template>
            <div *ngIf="auth.user$ | async as user; else anonymousUser" ngbDropdown class="d-inline-block" style="padding-right: 20px;">
                <button class="btn btn-outline-light" id="nabarDropdown" ngbDropdownToggle>{{ user.displayName }}</button>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                    <a ngbDropdownItem [routerLink]="['/my/orders']">My Orders</a>
                    <div *ngIf="isAdmin">
                        <a ngbDropdownItem [routerLink]="['/admin/orders']">Manage Orders</a>
                        <a ngbDropdownItem [routerLink]="['/admin/products']">Manage Products</a>
                    </div>
                    <a ngbDropdownItem (click)="logout()">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>